{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Great stuff.cd </p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}